@charset "utf-8";


/*media query*/

@media (max-width:768px){
    .container{width: 720px;}
    .row{padding: 0 24px; position: relative;}

    /*header*/
    .header h1{float: none; width: 155px; margin: 0 auto;}
    .header h1 strong{left: 0px; top: 25px;}
    .header .nav{float: none;}
    .header .nav:before{content:""; width: 21px; height: 3px; background:#39116a; position: absolute; right: 0px; top: 25px;  box-shadow: 0 5px 0 0 #39116a, 0 10px 0 0 #39116a;}
    .header .nav ul{display: none;}

    /*banner*/
    .banner_menu{left: -22px; top: 272px;}
    .banner_menu .bm_left{display: none;}
    .banner_menu .bm_right{float: none;}
    .banner_menu .bm_right ul{float: none;}
    .banner_menu .bm_right ul:first-child{display: none;}
    .slider {width: 100%; height: 432px; background:#aaa;}

    /*contents*/

    /*cont1*/
    .cont1_box{background:#fff; padding-bottom: 24px;}
    .cont1{background:#d9d7e0; padding: 24px 0;}
    .cont1 .title h2{display: block;font-size: 24px; font-weight: bold; padding-top: 24px;}
    .cont1 .title ul{padding-top: 25px; border-bottom: 2px solid #e1e1e1; width: 670px; margin: 0 auto;}
    .cont1 .title ul li{float: left;width: auto; text-align: left; margin-right: 35px;}
    .cont1 .title ul li.active {background:#fff; border-bottom:2px solid #666; margin-bottom: -2px;}
    .cont1 .title ul li a{color:#666; border:none;}
    .cont1 .title ul li:first-child a{border-left: none; color:#666;}
    .cont1 .poster_box{width: 1232px;}
    .cont1 .poster{float: left; border:1px solid #e1e1e1; }

    /*cont2*/
    .cont2{padding: 0; background:#d9d7e0; padding-bottom: 24px;}
    .cont2 h2 span{display: none;}
    .cont2_box{background:#fff; padding: 24px 0;}
    .cont2 .cont2_left{width:672px;}
    .cont2 .cont2_left .event1{width: 672px;height: 327px; background-size:contain;}
    .cont2 .cont2_left .event2{width: 335.5px;height: 327px; background-size:contain;}
    .cont2 .cont2_left .event3{width: 335.5px;height: 327px; background-size:contain;}
    .cont2 .cont2_right{display: none;}

    /*cont3*/
    .cont3{padding: 50px 0;}
    .cont3 .opening{width: 100%;}
    .opening p.title{font-size: 26px;width: 631px; margin: 0 auto;}
    .opening .opening_box{display: none;}

    /*cont4*/
    .cont4{padding-top: 24px; background:#d9d7e0;}
    .cont4 .cont4_box{background:#fff; padding: 24px 0;}
    .cont4 .cont4_left{width: 670px; height: 449px; float: none;}
    .cont4 .cont4_right{float: none; width: 670px;}
    .cont4 .cont4_right .btn ul{text-align: center;}
    .cont4 .search ul li.data select{width: 300px;}
    .cont4 .search ul li.time select{width: 300px;}
    .cont4 .search ul li.name input{width: 595px;}

    /*cont5*/
    .cont5{padding: 24px 0; background:#d9d7e0;}
    .cont5 .cont5_box{width: auto; background:#fff; height: 448px; float: none; margin-left: 0;}
    .cont5 .cont5_box.cs{height: 182px;}

    .notice{}
    .notice h2{padding-top: 24px;}
    .notice>ul{padding: 0; border:none; }
    .notice>ul>li{border-bottom:2px solid #e1e1e1; padding-right: 40px;}
    .notice>ul>li>a{border:none; width: auto; background:#fff; text-align: left;}
    .notice>ul>li.active a{background:#fff; border-bottom:2px solid #666; margin-bottom: -2px;}
    .notice>ul>li>ul{left: 0; top: 45px;}
    .notice>ul>li>ul>li{padding: 0 12px;}
    .notice>ul>li li{width: 670px;border-top: none; border-bottom:1px solid #d7d7d7; box-sizing: border-box;}
    .notice>ul>li li:first-child{border-bottom:1px solid #d7d7d7;}

    .cont5_box.sale{margin-top: 24px; padding-top: 24px;}
    .cont5_box.sale ul{overflow: hidden; border:none;}
    .cont5_box.sale ul li{float: left; width: 192px;}
    .cont5_box.sale ul li:nth-child(2n){display: block; margin-left: 10px;}
    .cont5_box.sale li img{}
    .cont5_box.sale li h4{}
    .cont5_box.sale li p{}

    .cont5_box.cs{margin-top: 24px;}
    .cont5_box.cs h2{display: none;}
    .cont5_box.cs ul{border:none;}
    .cont5_box.cs li{width: 25%;}
    .cont5_box.cs li:nth-child(1){border:none;}
    .cont5_box.cs li:nth-child(1):after{}
    .cont5_box.cs li:nth-child(2){border:none;}
    .cont5_box.cs li:nth-child(2):after{}
    .cont5_box.cs li:nth-child(3){border:none;}
    .cont5_box.cs li:nth-child(3):after{}
    .cont5_box.cs li:nth-child(4){border:none;}
    .cont5_box.cs li:nth-child(4):after{}
    .cont5_box.cs li a{}

    /*footer*/
    .footer{position: relative;}
    .footer_left{float: none; width:auto; text-align: center; padding-top:25px;}
    .footer_left h3{margin: 0 auto;}
    .footer_right{float: none; position: absolute; left: 50%; top: 0; transform: translateX(-50%); /*background:#281b1b;*/ width: 100%;}
    .footer_right ul{padding: 13px 0; margin: 0 auto; width: 215px;}
    .footer_right p{display: none;}
}

@media (max-width:360px){
    .container{width: 344px;}
    .row{padding: 0 8px;}

    /*header*/
    .header h1{width: 155px; margin: 0;}
    .header h1 strong{display: none;}
    .header .nav:before{right: 8px;}

    /*banner*/
    .banner_menu{left:8px;}
    .banner_menu .bm_right ul:first-child{display: none;}
    .banner_menu .bm_right li.white{margin-right: 4px;}
    .banner_menu .bm_right li.white a{width: 58px; font-size: 12px; background:rgba(0,0,0,0.47); color:#fff; padding: 7px 9px;}
    .banner_menu .bm_right li.purple a{width: 58px; font-size: 12px; background:rgba(0,0,0,0.47); border-color:#fff; padding: 7px 9px;}

    /*contents*/

    /*cont1*/
    .cont1{background:#d9d7e0; padding: 8px 0;}
    .cont1_box{padding-bottom: 15px;}
    .cont1 .title:before{font-size: 18px;padding-top: 16px;padding-bottom: 6px;}
    .cont1 .title{padding: 0 0 18px 0;}
    .cont1 .title ul{border-top: 1px solid #e1e1e1; width: 322px; border-bottom:none; padding-top: 12px;}
    .cont1 .title ul li{margin-right: 20px;}
    .cont1 .title ul li a{font-size: 13px;}
    .cont1 .poster{padding-bottom: 10px;}
    .cont1 .poster h3{padding-top: 15px; text-align: center; font-size: 19px;}
    .cont1 .poster em{display: none;}
    .cont1 .poster ul{width: 126px; margin: 0 auto; padding-top: 9px;}
    .cont1 .poster li{width: 126px;}
    .cont1 .poster li.reservation{display: none;}
    .cont1 .poster li a{font-size: 14px; background: #fff; border:1px solid #d9d7e0;}

    /*cont2*/
    .cont2{padding-bottom:8px;}
    .cont2 .cont2_box{padding-top: 16px;}
    .cont2 h2{font-size: 18px; padding-bottom: 16px;}
    .cont2 .cont2_left{width: 808px;float: left;}
    .cont2 .cont2_left .event1{display: none;}
    .cont2 .cont2_left .event2{width: 292px;height: 286px; background-size:cover; margin-right: 16px;}
    .cont2 .cont2_left .event3{width: 292px;height: 286px; background-size:cover;}

    /*cont3*/
    .cont3{padding: 16px 0;}
    .cont3 h3{width: 188px; margin-bottom: 0;}
    .cont3 .date{display: none;}
    .opening p.title{font-size: 13px;width: 188px; padding: 14px 0; background-position-y:65px; }

    /*cont4*/
    .cont4{padding-top:8px;}
    .cont4 h2{font-size: 18px; padding-bottom: 16px;}
    .cont4 .cont4_box{ padding: 16px 0;}
    .cont4 .cont4_left{width: 312px; height: 262px; margin: 0 auto;}
    .cont4 .cont4_right{width: 312px; margin: 0 auto; padding: 16px;}
    .cont4 .cont4_right li h3{font-size: 18px;}
    .cont4 .cont4_right li.story{height: 99px; overflow: hidden;}
    .cont4 .search ul li.data{float: none;}
    .cont4 .search ul li.data select{width: 280px; font-size: 12px;}
    .cont4 .search ul li.time{float: none;}
    .cont4 .search ul li.time select{width: 280px; font-size: 12px;}
    .cont4 .search ul li.name input{width: 265px; font-size: 12px;}
    .cont4 .cont4_right .btn ul{overflow: hidden;}
    .cont4 .cont4_right .btn ul li{float: left;}
    .cont4 .cont4_right .btn li a{width: 135px; margin-left: 6px;}
    .cont4 .cont4_right .btn li:nth-child(1) a{border:1px solid #3b1a6b;}
    .cont4 .cont4_right .btn li:nth-child(2) a{border:1px solid #6f2bc7;}

    /*cont5*/
    .cont5{padding: 8px 0;}
    .cont5 .cont5_box{height: auto;}
    .cont5 .cont5_box.cs{}

    .notice{}
    .notice h2{padding-top:16px; font-size: 18px;}
    .notice>ul{}
    .notice>ul>li{border:none;}
    .notice>ul>li>a{display: none;}
    .notice>ul>li.active a{}
    .notice>ul>li>ul{}
    .notice>ul>li>ul>li{padding: 0 12px; width: 100%; position: relative;}
    .notice>ul>li p.writer{position: absolute;right: 48px; top: -7px; font-size: 12px;}
    .notice>ul>li p.writer span{display: none;}
    .notice>ul>li p.title{width: 70%; font-size: 12px;}
    .notice>ul>li li{}
    .notice>ul>li li:first-child{}

    .cont5_box.sale{margin-top: 24px; padding-top: 24px;}
    .cont5_box.sale ul{overflow: hidden; border:none;}
    .cont5_box.sale ul li{float: left; width: 192px;}
    .cont5_box.sale ul li:nth-child(2n){display: block; margin-left: 10px;}
    .cont5_box.sale li img{}
    .cont5_box.sale li h4{}
    .cont5_box.sale li p{}

    .cont5_box.cs{margin-top: 24px;}
    .cont5_box.cs h2{display: none;}
    .cont5_box.cs ul{border:none;}
    .cont5_box.cs li{width: 25%;}
    .cont5_box.cs li:nth-child(1){border:none;}
    .cont5_box.cs li:nth-child(1):after{}
    .cont5_box.cs li:nth-child(2){border:none;}
    .cont5_box.cs li:nth-child(2):after{}
    .cont5_box.cs li:nth-child(3){border:none;}
    .cont5_box.cs li:nth-child(3):after{}
    .cont5_box.cs li:nth-child(4){border:none;}
    .cont5_box.cs li:nth-child(4):after{}
    .cont5_box.cs li a{}
}