@charset "utf-8";

/*layout*/
#header{width: 100%; ;border-bottom: 1px solid #c6c6c6;}
#banner{position: relative;}
#contents{}
#footer{background:#222; position: relative;}

/*가운데영역*/
.container{position: relative; width: 1280px; margin: 0 auto; background:rgba(0,0,0,0); }

/*row*/
.row{padding: 0 28px; position: relative; }

/*header*/
.header h1{float: left;}
.header h1 em{padding: 15px 15px 5px 0; display: inline-block;}
.header h1 em img{width: 153px;}
.header h1 strong{display: block; position: absolute; left: 194px; top: 24px;}
.header h1 strong img{width: 123px;}
.header .nav{float: right;}
.header .nav ul{border-left: 1px solid #c6c6c6;}
.header .nav li{float: left; width: 103px; text-align: center; border-right: 1px solid #c6c6c6;}
.header .nav li a{display: block; padding: 19px 10px; font-size: 17px; font-weight: 700; color:#444;}

/*banner*/
.banner_menu{position: absolute; left: 0; top: 20px; width: 100%; height: 100px;}
.banner_menu a{color:#fff; font-size: 16px; transition:all 0.3s;}
.banner_menu a:hover{color:#c1c1c1;}
.banner_menu .bm_left{float: left; padding-top: 7px;}
.banner_menu .bm_left ul{}
.banner_menu .bm_left li{display: inline; margin-right: 30px; position: relative;}
.banner_menu .bm_left li.total{margin-right: 20px;}
.banner_menu .bm_left li.total a{font-size: 14px; padding: 3px 10px; display: inline-block; border:1px solid #fff; transition: all 0.3s;}
.banner_menu .bm_left li.total a:hover{background:#fff; border-color:#000; color:#000;}
.banner_menu .bm_left li.line{}
.banner_menu .bm_right{float: right; overflow: hidden;}
.banner_menu .bm_right ul{float: left;}
.banner_menu .bm_right ul:first-child{padding-top: 7px;}
.banner_menu .bm_right li{position: relative; display: inline; text-align: center; margin-right: 20px;}
.banner_menu .bm_right li.line{margin-right: 30px;}
.banner_menu .bm_right li.white{margin-right: 10px; }
.banner_menu .bm_right li.white a{width: 80px; background-color: #fff; color:#3a0e6a; padding: 7px 30px 9px 30px; display: inline-block; border:1px solid #fff; font-weight: 500;}
.banner_menu .bm_right li.purple{margin-right: 0; }
.banner_menu .bm_right li.purple a{width: 80px; background-color: #3a0e6a; color:#fff; padding: 7px 30px 9px 30px; display: inline-block; border:1px solid #6e40c4; font-weight: 500;}
.banner_menu li.line:after{content:""; width: 1px; height: 14px; background:#fff; position: absolute; right: -18px; top: 2px;}
.slider{}
.slider div{width: 100%; height: 594px; background:url(../img/main_slider01.jpg) no-repeat center; background-size:cover;}

/*contents*/

/*cont1*/
.cont1{background:#f8f8f8; padding-bottom: 100px;}
.cont1 .title{padding-bottom: 74px;}
.cont1 .title h2{display: none;}
.cont1 .title ul{width: 854px; margin: 0 auto; padding-top: 100px;}
.cont1 .title ul li{float: left;width: 206px; text-align: center;}
.cont1 .title ul li.active {background:#666;}
.cont1 .title ul li a{display: block; border:1px solid #d0d0d0; border-left: none; font-size: 18px; padding: 20px 0; font-weight: bold; color:#666;}
.cont1 .title ul li:first-child a{border-left: 1px solid #d0d0d0; color:#fff;}
.cont1 .poster{width: 290px; float: left; margin-left: 20px; position: relative; background:#fff; padding-bottom: 20px;}
.cont1 .poster.first{margin-left: 0;}
.cont1 .poster img{}
.cont1 .poster h3{padding-top: 20px; padding-left: 20px; font-size: 28px; font-weight: bold;}
.cont1 .poster h3 em{font-size: 12px; color:#fff; background:#0093d8; border:1px solid #0576ab; border-radius: 10px; padding: 5px 7px; margin-right: 9px;}
.cont1 .poster p.rate{display: none;}
.cont1 .poster ul{padding: 20px 0 0 20px;}
.cont1 .poster li{display: inline; padding-left:7px;}
.cont1 .poster ul li:first-child{padding-left: 0;}
.cont1 .poster li a{display: inline-block; background:#f2f2f2; font-size: 18px; text-align: center; padding: 20px 28px; color:#555;}
.cont1 .poster p.ranking{position: absolute; left: 0; top: 20px; width: 50px; font-size: 37px; text-align: center; background:#38116a; color:#fff; line-height: 50px;}
.cont1 .poster p.mx{width: 103px; height:23px; background:url(../img/icon.png) 0 -75px; position: absolute; right: 20px; top: 20px;}
.cont1 .poster p.boutique{width: 103px; height:23px; background:url(../img/icon.png) 0 -100px; position: absolute; right: 20px; top: 45px;}

/*cont2*/
.cont2{padding:100px 0;}
.cont2 h2{font-size: 30px; font-weight: bold; padding-bottom: 20px;}
.cont2 .cont2_left{width: 66%;float: left;}
.cont2 .cont2_left .event1{float: left; width: 100%;height: 400px; background:url(../img/event01.jpg) no-repeat center; background-size:cover;}
.cont2 .cont2_left .event2{float: left; width: 50%;height: 400px; background:url(../img/event02.jpg) no-repeat center; background-size:cover;}
.cont2 .cont2_left .event3{float: left; width: 50%;height: 400px; background:url(../img/event03.jpg) no-repeat center; background-size:cover;}
.cont2 .cont2_right{width: 32%;float: right;}
.cont2 .cont2_right .event4{float: left; width: 100%;height: 800px; background:url(../img/event04.jpg) no-repeat center; background-size:cover;}

/*cont3*/
.cont3{width: 100%; background:url(../img/bg01.jpg) no-repeat center; padding: 100px 0;}
.cont3 .opening{width: 1064px; margin: 0 auto;}
.opening h3{width: 328px; height: 42px; margin: 0 auto; background:url(../img/icon.png) no-repeat 0 -175px; margin-bottom: 15px;}
.opening p.date{width: 256px; height: 27px; margin: 0 auto; background:url(../img/icon.png) no-repeat 0 -224px}
.opening p.title{font-size: 30px; color:#bb9b51; text-align: center; padding-top: 33px; padding-bottom: 25px; background:url(../img/bar.png) no-repeat 0 80px; background-size:contain;}
.opening .opening_box{padding-top: 54px;}
.opening .opening_box>div{float: left; width: 310px; background:#aaa; margin-left: 64px; position: relative; background:rgba(0,0,0,0.5); border:1px solid rgba(255,255,255,0.5);}
.opening .opening_box>div.first{margin-left: 0;}
.opening .opening_box h4{position: absolute; left: 81px; top: -9px; padding: 15px 25px; background:#3b1a6b; border:1px solid #6423c4; font-size: 20px; color:#fff;}
.opening .opening_box p{color:#fff; font-size: 23px; font-weight: bold; text-align: center; padding-bottom: 15px;}

/*cont4*/
.cont4{padding: 100px 0;}
.cont4 h2{font-size: 30px; font-weight: bold; padding-bottom: 15px;}
.cont4 .cont4_left{width: 809px; height: 567px; float: left; background:url(../img/new01.jpg) no-repeat center; background-size: cover;}
.cont4 .cont4_right{float: right; width: 392px; background:#f2f2f2; box-sizing: border-box; padding: 30px;}
.cont4 .cont4_right li{font-size: 12px; padding-bottom: 5px;}
.cont4 .cont4_right li h3{font-size: 28px;}
.cont4 .cont4_right li.star{padding: 10px 0;}
.cont4 .cont4_right li span{display: inline-block; width: 20px; height: 18px; background:url(../img/icon.png) no-repeat -394px 0; margin-right: 10px;}
.cont4 .cont4_right li span.grey{background:url(../img/icon.png) no-repeat -375px 0;margin-right: 15px;}
.cont4 .cont4_right li.star em{font-size: 16px; font-weight: bold; }
.cont4 .cont4_right li.desc em{position: relative; padding-right: 9px; margin-right: 8px;}
.cont4 .cont4_right li.desc em:after{content:""; width: 1px; height: 12px; background:#999; position: absolute; right: 0; top: 4px;}
.cont4 .cont4_right li.story{line-height: 20px;}
.cont4 .cont4_right .btn{padding-top: 16px;}
.cont4 .cont4_right .btn li{display: inline;}
.cont4 .cont4_right .btn li a{display: inline-block; width: 155px; text-align: center; padding: 13px 0; margin-left: 11px;}
.cont4 .cont4_right .btn li:nth-child(1) a{margin-left: 0; border:2px solid #3b1a6b; background:#fff; color:#3b1a6b;}
.cont4 .cont4_right .btn li:nth-child(2) a{border:2px solid #6f2bc7; background:#3b1a6b; color:#fff;}
.cont4 .search{padding-top: 10px;}
.cont4 .search ul li.data{float: left;}
.cont4 .search ul li.data select{width: 160px; padding: 5px 0 6px 15px; background:#000; color:#fff;}
.cont4 .search ul li.time{ float: right;}
.cont4 .search ul li.time select{width: 160px; padding: 5px 0 6px 15px; background:#000; color:#fff;}
.cont4 .search ul li.name{}
.cont4 .search ul li.name input{width: 317px; padding: 6px 0 6px 15px; background:#000; color:#999;}

/*cont5*/
.cont5{padding-bottom: 50px;}
.cont5 .cont5_box{width: 392px; float: left; margin-left: 24px;}
.cont5 .cont5_box:first-child{margin-left: 0;}
.cont5 .cont5_box h2{font-size: 30px; font-weight: bold; padding-bottom: 20px;}
.cont5 .notice{width: 390px; border:1px solid #e1e1e1;}
.notice>ul{height: 366px; padding: 13px; position: relative; box-sizing: border-box;}
.notice>ul>li{float: left; }
.notice>ul>li>a{display: inline-block; font-size: 12px; border:1px solid #d7d7d7; width: 117px; text-align: center; padding: 10px 0; background:#ebebeb; color:#555; margin-left: -1px;}
.notice>ul>li.active a{background:#fff;}
.notice>ul>li>ul{position: absolute; left: 13px; top: 60px; width: 363px;}
.notice>ul>li>ul>li{padding: 0 13px;}
.notice>ul>li p.writer{padding-top: 15px; color:#999;}
.notice>ul>li p.writer span{color:#555; position: relative; padding-right: 8px; margin-right: 8px;}
.notice>ul>li p.writer span:before{content:""; width: 1px; height: 9px; background:#b7b7b7; position: absolute; right: 0; top: 5px;}
.notice>ul>li p.title{padding-top: 7px; padding-bottom: 13px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; width: 100%; color:#777;}
.notice>ul>li li{border-top:1px solid #d7d7d7; }
.notice>ul>li li:first-child{border-top:none;}

.cont5 .sale{width: 390px; border:1px solid #e1e1e1;}
.sale ul{padding-bottom: 13px;}
.sale ul li{width: 225px; margin: 0 auto; border:1px solid #d7d7d7;margin-top: 13px; position: relative;padding: 15px 0 16px 137px;}
.sale ul li:nth-child(2n){display: none;}
.sale ul li span{display: block;}
.sale li img{width: 105px; position: absolute; left: 13px; top: 13px;}
.sale li h4{font-size: 16px; font-weight: bold; color:#777;}
.sale li p{font-size: 14px; color:#777; padding-top: 5px;}

.cont5 .cs{width: 390px; border:1px solid #e1e1e1;}
.cs ul{overflow: hidden;}
.cs li{float: left; width: 50%; box-sizing: border-box; height: 182px; text-align: center; padding-top: 130px; position: relative;}
.cs li:nth-child(1){border-right:1px solid #d7d7d7; border-bottom:1px solid #d7d7d7;}
.cs li:nth-child(1):after{content:""; width: 85px; height: 80px; background:url(../img/icon.png) -8px -285px; position: absolute; left: 55px; top: 40px;}
.cs li:nth-child(2){border-bottom:1px solid #d7d7d7;}
.cs li:nth-child(2):after{content:""; width: 100px; height: 78px; background:url(../img/icon.png) -101px -285px; position: absolute; left: 45px; top: 35px;}
.cs li:nth-child(3){border-right:1px solid #d7d7d7;}
.cs li:nth-child(3):after{content:""; width: 91px; height: 81px; background:url(../img/icon.png) -205px -285px; position: absolute; left: 45px; top: 40px;}
.cs li:nth-child(4){}
.cs li:nth-child(4):after{content:""; width: 82px; height: 82px; background:url(../img/icon.png) -309px -284px; position: absolute; left: 55px; top: 40px;}
.cs li a{font-size: 16px; font-weight: bold; color:#777;}

/*footer*/
.footer_sns{float: right; width: 215px; padding-top: 50px;}
.footer_sns ul{overflow: hidden;}
.footer_sns li{float: left;}
.footer_sns li a{display: block; width: 36px; height: 37px; margin-left: 7px;}
.footer_sns li:nth-child(1) a{background:url(../img/icon.png) no-repeat 0 -410px;}
.footer_sns li:nth-child(2) a{background:url(../img/icon.png) no-repeat -37px -374px;}
.footer_sns li:nth-child(3) a{background:url(../img/icon.png) no-repeat -73px -374px;}
.footer_sns li:nth-child(4) a{background:url(../img/icon.png) no-repeat -109px -373px;}
.footer_sns li:nth-child(5) a{background:url(../img/icon.png) no-repeat -145px -374px;}
.footer_sns p{text-align: right; padding-top: 12px; font-size: 17px; color:#999;}
.footer_sns p em{padding-left: 5px; color:#fff;}
.footer_list{width: 586px; float: left; padding: 50px 0;}
.footer_list h3{width: 157px;height: 32px; background:url(../img/icon.png) no-repeat -200px 0;}
.footer_list ul{padding:20px 0 15px 0;}
.footer_list li{display: inline; position: relative;padding-left: 10px; padding-right: 10px;}
.footer_list li:before{content:""; width: 1px; height: 10px; background:#999; position: absolute; left: 0; top: 5px;}
.footer_list li:first-child{padding-left: 0;}
.footer_list li:first-child:before{width: 0; height: 0;}
.footer_list li a{color:#999; font-size: 12px;}
.footer_list p{color:#999; padding-bottom: 5px; font-size: 12px;}
.footer_list em{position: relative; padding-right: 10px; margin-right: 10px;}
.footer_list em:before{content:""; width: 1px; height: 10px; background:#999; position: absolute; right: 0; top: 5px;}
.footer_list address{font-size: 12px; padding-top: 15px; color:#999;}


/* media query */
@media (max-width:1280px){
    #wrap{width: 100%; overflow: hidden;}
    .container{width: 1200px;}

    .cont1 .poster_box{width: 1220px;}

    .cont2 .cont2_left .event1{height: 360px;}
    .cont2 .cont2_left .event2{height: 360px;}
    .cont2 .cont2_left .event3{height: 360px;}
    .cont2 .cont2_right .event4{height: 720px;}

    .cont4 .cont4_left{width: 750px;}

    .cont5 .cont5_box{margin-left: 10px; width: 370px;}
    .cont5 .notice{width: 370px;}
    .cont5 .sale{width: 370px;}
    .cont5 .cs{width: 370px;}
    .notice>ul>li>ul{width: 340px;}
    .sale ul li{width: 200px;}
}

@media (max-width:1200px){
    .container{width: 960px;}

    .header .nav li{width: 80px;}
    .header .nav li a{padding: 19px 0;}

    .slider div{height: 600px;}

    .cont1 .poster li a{width: 45%; padding: 20px 0; text-align: center;}

    .cont2 .cont2_left{width: 65%;}
    .cont2 .cont2_left .event1{height: 334px;}
    .cont2 .cont2_left .event2{height: 330px;}
    .cont2 .cont2_left .event3{height: 330px;}
    .cont2 .cont2_right{width: 35%;}
    .cont2 .cont2_right .event4{height: 664px;}

    .cont3 .opening{width: 960px;}
    .opening .opening_box{width: 900px; margin: 0 auto;}
    .opening .opening_box>div{margin-left: 12px; width: 290px;}

    .cont4 .cont4_left{width: 904px;}
    .cont4 .cont4_right{float: left; width: 904px;}
    .cont4 .search ul{width: 860px;}
    .cont4 .search ul li.data select{width: 420px;}
    .cont4 .search ul li.time select{width: 420px;}
    .cont4 .search ul li.name input{width: 845px;}
    .cont4 .cont4_right .btn{width: 332px; margin: 0 auto;}

    .cont5 .cont5_box{margin-left: 10px; width: 300px;}
    .cont5 .notice{width: 300px;}
    .cont5 .sale{width: 300px;}
    .cont5 .cs{width: 300px;}
    .notice>ul>li>ul{width: 270px;}
    .sale ul li{width: 145px;}
    .sale ul li span{display: inline;}


    .cs li:nth-child(1):after{left:32px;}
    .cs li:nth-child(2):after{left:32px;}
    .cs li:nth-child(3):after{left:32px;}
    .cs li:nth-child(4):after{left:41px;}

}

@media (max-width:960px){
    .container{width: 768px;}
    .row{position: relative;}

    .header .nav{float: none;}
    .header .nav:before{content:""; width: 21px; height: 3px; background:#39116a; position: absolute; right: 26px; top: 25px;  box-shadow: 0 5px 0 0 #39116a, 0 10px 0 0 #39116a;}
    .header .nav ul{display: none;}

    .banner_menu .bm_left li{display: none;}
    .banner_menu .bm_left li.total{display: block;}

    .cont1 .title ul{width: 640px; margin: 0 auto; padding-top: 100px;}
    .cont1 .title ul li{float: left;width: 160px; text-align: center;}

    .cont2 .cont2_left{width: 100%;}
    .cont2 .cont2_right{display: none;}

    .cont3{padding: 48px 0;}
    .cont3 .opening{width: 720px;}
    .opening .opening_box{display: none;}
    .opening p.title{font-size: 26px;}

    .cont4 .cont4_left{width: 673px;}
    .cont4 .cont4_right{width: 673px;}
    .cont4 .search ul{width: 613px;}
    .cont4 .search ul li.data select{width: 291px;}
    .cont4 .search ul li.time select{width: 291px;}
    .cont4 .search ul li.name input{width: 599px;}

    .cont5 .cont5_box:nth-child(1){width: 48%; margin-bottom: 50px;}
    .cont5 .cont5_box:nth-child(2){width: 48%; margin-left: 5px;}
    .cont5 .cont5_box:nth-child(3){width: 100%; margin-left: 0;}
    .cs li:nth-child(1):after{left:47px}
    .cs li:nth-child(4):after{left: 60px;}
    .cont5 .notice{width: 340px;}
    .cont5 .sale{width: 340px;}
    .cont5 .cs{width: 100%;}
    .cs li{width: 25%;}
    .cs li:nth-child(1){border-bottom: none;}
    .cs li:nth-child(2){border-right: 1px solid #d7d7d7; border-bottom: none;}

    .footer_box1{background:#281b1b;}
    .footer_sns{float: none; padding: 13px 0; margin: 0 auto;}
    .footer_sns p{display: none;}
    .footer_list{float: none; margin: 0 auto; text-align: center; padding: 24px 0;}
    .footer_list h3{margin: 0 auto;}
}

@media (max-width:768px){
    .container{width: 100%;}

    .header h1{height: 55px;}
    .header h1 em{width: 153px; position: absolute; left:50%; transform: translateX(-50%);}
    .header h1 em img{width: 153px;}
    .header h1 strong{display: block; left: 26px;}

    .banner_menu .bm_left li.total{display: none;}
    .banner_menu .bm_right ul:first-child{display: none;}
    .banner_menu .bm_right li.white a {padding: 14px 25px; width: 79px;}
    .banner_menu .bm_right li.purple a {padding: 14px 25px; width: 79px;}
    .slider div{height: 432px;}

    .cont1{background:#d9d7e0; padding: 28px 0;}
    .cont1_box{width: 95%; margin: 0 auto; background:#fff; padding-bottom: 24px;}
    .cont1 .title{padding-bottom: 30px;}
    .cont1 .title h2{display: block; font-size: 24px; font-weight: bold; padding-top: 24px;}
    .cont1 .title ul{padding-top: 24px;}
    .cont1 .title ul{width: 100%; border-bottom:2px solid #d0d0d0;}
    .cont1 .title ul li{width:auto; margin-right: 15px;}
    .cont1 .title ul li.active{border-bottom:2px solid #666; margin-bottom: -2px;}
    .cont1 .title ul li.active a{background:#fff; color:#666; }
    .cont1 .title ul li a{border:0 none; padding-bottom: 12px;}
    .cont1 .title ul li:first-child a{border:0 none;}
    .cont1 .poster{width: 286px; border:1px solid #e1e1e1;}

    .cont2{background:#d9d7e0; padding:0 0 28px 0;}
    .cont2_box{width: 95%; margin: 0 auto; background:#fff; padding-bottom: 24px;}
    .cont2_box h2{font-size: 24px; font-weight: bold; padding-top: 24px;}
    .cont2_box h2 span{display: none;}
    .cont2 .cont2_left .event1{height: 334px;}
    .cont2 .cont2_left .event2{height: 329px;}
    .cont2 .cont2_left .event3{height: 329px;}

    .cont3 .opening{width: 600px;}
    .opening p.title{width: 400px; margin: 0 auto; background-position-y:111px}

    .cont4{background:#d9d7e0; padding:28px 0 28px 0;}
    .cont4_box{width: 95%; margin: 0 auto; background:#fff; padding-bottom: 24px;}
    .cont4 h2{font-size: 24px; font-weight: bold; padding-top: 24px;}
    .cont4 .cont4_left{width: 100%;}
    .cont4 .cont4_right{width: 100%;}
    .cont4 .search ul{width: 97%;}
    .cont4 .search ul li.data{width: 49%;}
    .cont4 .search ul li.time{width: 49%;}
    .cont4 .search ul li.name{width: 97.5%;}
    .cont4 .search ul li.data select{width: 100%;}
    .cont4 .search ul li.time select{width: 100%;}
    .cont4 .search ul li.name input{width: 100%;}

    .cont5{background:#d9d7e0; padding:0 0 28px 0;}
    .cont5 .cont5_box{float: none; width: 95%; margin: 0 auto; background:#fff;}
    .cont5 .cont5_box:nth-child(1){width: 95%; margin: 0 auto; margin-bottom: 24px;}
    .cont5 .cont5_box:nth-child(2){width: 95%; margin: 0 auto; margin-bottom: 24px;}
    .cont5 .cont5_box:nth-child(3){width: 100%; margin: 0 auto;}
    .cont5 .cont5_box h2{font-size: 24px; font-weight: bold; padding: 24px 0 15px 0;}
    .cont5 .cont5_box:nth-child(3) h2{display: none;}
    .cont5 .notice{width: 100%; border:0 none;}
    .notice>ul{padding: 0; position: relative;}
    .notice>ul:before{content:""; width: 100%; height: 2px; background:#e1e1e1; position: absolute; left: 0; top: 31px;}
    .notice>ul>li{width:auto; margin-right: 15px;}
    .notice>ul>li>a{border:0 none; padding: 0 0 12px 0; background:#fff; width:auto;}
    .notice li.active{border-bottom:2px solid #666; margin-bottom: -2px;}
    .notice li.active a{background:#fff; color:#666;}
    .notice>ul>li>ul{width: 100%; top: 45px; left: 0;}
    .notice>ul>li li{border-top:none; border-bottom:1px solid #d7d7d7;}
    .cont5 .sale{width: 100%; border:0 none;}
    .sale ul{overflow: hidden;}
    .sale ul li{float: left; width: 27%; margin-left: 1%;}
    .sale ul li:nth-child(2n){display: block;}
    .sale ul li span{display: block;}
    .cont5 .cs{width: 100%; border:none;}
    .cs li{border:0 none;}
    .cs li:nth-child(1){border:none;}
    .cs li:nth-child(2){border:none;}
    .cs li:nth-child(3){border:none;}
}

@media (max-width:740px){
    .sale ul li{width: 24%;}
}

@media (max-width:661px){
    .sale ul li{width: 70%;}
    .sale ul li:nth-child(2n){display: none;}
    .sale li img{left: 7px; top: 8px;}
    .sale ul li{padding-top: 8px; padding-left: 125px;}
    .sale li p{font-size: 13px;}
    .cs li:nth-child(1):after{left: 50%; transform: translateX(-50%);}
    .cs li:nth-child(2):after{left: 50%; transform: translateX(-50%);}
    .cs li:nth-child(3):after{left: 50%; transform: translateX(-50%);}
    .cs li:nth-child(4):after{left: 50%; transform: translateX(-50%);}

    .footer_list{width: 336px;}
    .footer_list h3{padding-bottom: 18px;}
    .footer_list ul{display: none;}
    .footer_list span{display: block; padding-top: 5px;}
    .footer_list em{display: block; padding-bottom: 5px;}
    .footer_list em:before{width: 0; height: 0;}
}

@media (max-width:600px){
 
    .header h1 em{left: 26px; transform: translateX(0);}
    .header h1 strong{display: none;}

    .cont2 .cont2_left{width: 600px;}
    .cont2 .cont2_left .event1{display: none;}
    .cont2 .cont2_left .event2{width: 292px; height: 286px; margin-right: 15px;}
    .cont2 .cont2_left .event3{width: 292px; height: 286px;}

    .cont3{padding: 16px 0;}
    .cont3 .opening{width: 188px;}
    .opening h3{width: 174px; height: 21px; background:url(../img/grandopening.png) no-repeat left top; background-size:cover; margin-top: 5px; margin-bottom: 0;}
    .opening p.date{display: none;}
    .opening p.title{width: 188px; font-size: 13px; padding: 14px 0; background-position-y:54px;}

    .cont4 .cont4_left{height: 300px;}
    .cont4 .cont4_right li.story{height: 120px; overflow: hidden;}
    .cont4 .cont4_right li h3{font-size: 18px;}
    .cont4 .cont4_right .btn li a{margin-left: 6px;}

    .notice>ul{height: 188px;}
    .notice>ul>li>a{display: none;}
    .notice>ul:before{width: 0; height: 0;}
    .notice>ul>li>ul{top: 0px;}
    .notice>ul>li>ul>li{padding: 0;}
    .notice>ul>li p.writer{display: none;}

    

}

@media (max-width:579px){
    .sale ul li{width: 50%;}
}



@media (max-width:480px){
    .header h1{height: 32px;}
    .header h1 em{padding: 8px 15px 5px 0;}
    .header h1 em img{width: 89px;}
    .header .nav:before{top: 10px;}
    
    .slider div{height: 197px;}

    .banner_menu .bm_right li.white a {padding: 8px 13px; width: 56px; font-size: 12px;}
    .banner_menu .bm_right li.purple a {padding: 8px 13px; width: 56px; font-size: 12px;}
    
    .cont1 .title{padding-bottom: 16px;}
    .cont1 .title h2{font-size: 18px; padding-bottom: 6px;}
    .cont1 .title ul{border-bottom:none; border-top:2px solid #d0d0d0; padding-top: 0px;}
    .cont1 .title ul li{margin-right: 10px;}
    .cont1 .title ul li a{padding-top: 12px; font-size: 13px;}
    .cont1 .poster h3{text-align: center; padding-top: 14px; font-size: 19px;}
    .cont1 .poster h3 em{display: none;}
    .cont1 .poster p.rate{display: block; text-align: center; font-size: 14px; color:#999; padding-top: 10px;}
    .cont1 .poster ul{padding-top: 9px; width: 128px; margin: 0 auto;}
    .cont1 .poster li a{width: 96px; border:1px solid #d9d7e0; background:#fff; padding: 9px 15px; font-size: 14px;}
    .cont1 .poster li.reservation{display: none;}

    .cont2_box h2{font-size: 18px; padding: 16px 0;}

    .cont3{padding: 16px 0;}

    .cont4 .cont4_left{height: 207px;}    
    .cont4 .cont4_right li.story{height: 98px;}
    .cont4 .cont4_right .btn li a{width: 40%; padding: 13px 0; text-align: center;}

    .cont5 .cont5_box h2{font-size: 18px; padding: 16px 0;}

    .cs li{height: 70px; padding-top: 10px;}
    .cs li span{display: none;}
    .cs li:nth-child(1):after{left: 50%; transform: translateX(-50%); background:none;}
    .cs li:nth-child(2):after{left: 50%; transform: translateX(-50%); background:none;}
    .cs li:nth-child(3):after{left: 50%; transform: translateX(-50%); background:none;}
    .cs li:nth-child(4):after{left: 50%; transform: translateX(-50%); background:none;}
    

}

@media (max-width:360px){
    
}