.nav__trigger {
    display: block;
    width: 28px;
    position: absolute;
    top: 2rem;
    right: 50px;
    padding: 8px 0;
    transition: 0.2s ease-in-out;
    z-index: 99;
  }
  .nav__trigger .bars {
    position: relative;
  }
  .nav__trigger .bars, .nav__trigger .bars:before, .nav__trigger .bars:after {
    width: 28px;
    height: 4px;
    background-color: #fff;
    transition: 0.2s ease-in-out;
    border-radius: 4px;
  }
  .nav__trigger .bars:before, .nav__trigger .bars:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
  }
  .nav__trigger.show .bars, .nav__trigger.show .bars:before, .nav__trigger.show .bars:after{
      background-color: #000;
  }
  .nav__trigger .bars:before {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  .nav__trigger .bars:after {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  .nav__trigger.is-active {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .nav__trigger.is-active .bars{background-color: #fff;}
  .nav__trigger.is-active .bars:before, .nav__trigger.is-active .bars:after {
    -webkit-transform: translateX(0) rotate(-90deg);
            transform: translateX(0) rotate(-90deg);
    background-color:#fff;
  }
  
  .nav {
    width: 50%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: #172fe7;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    transition: 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
    will-change: transform;
  }
  .nav.is-active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .nav__content {
    position: absolute;
    top: 50%;
    width: 100%;
    padding: 2rem;
    font-family: "Raleway", "Open Sans", sans-serif;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }

.nav__content {
  padding: 6vmin;
}
  
  .nav__list a{
    color: #bbb;
  }
  .nav__list a em:nth-child(1){transition-delay: 0s;}
  .nav__list a em:nth-child(2){transition-delay: 0.002s;}
  .nav__list a em:nth-child(3){transition-delay: 0.1s;}
  .nav__list a em:nth-child(4){transition-delay: 0.15s;}
  .nav__list a em:nth-child(5){transition-delay: 0.2s;}
  .nav__list a em:nth-child(6){transition-delay: 0.25s;}
  .nav__list a em:nth-child(7){transition-delay: 0.3s;}
  .nav__list a em:nth-child(8){transition-delay: 0.35s;}
  .nav__list a em:nth-child(9){transition-delay: 0.4s;}
  .nav__list a:hover{
    color:#fff;
  }
  .nav__content.is-active a {
    opacity: 1;
  }
  .nav__content.is-active .nav__list a {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    transition: all 0.3s;
  }
  .nav__content.is-active .nav__list .nav__item:nth-of-type(1) a {
    transition-delay: 0s;
  }
  .nav__content.is-active .nav__list .nav__item:nth-of-type(2) a {
    transition-delay: 0.1s;
  }
  .nav__content.is-active .nav__list .nav__item:nth-of-type(3) a {
    transition-delay: 0.2s;
  }
  .nav__content.is-active .nav__list .nav__item:nth-of-type(4) a {
    transition-delay: 0.3s;
  }
  .nav__content.is-active .nav__list .nav__item:nth-of-type(5) a {
    transition-delay: 0.4s;
  }
  .nav__content.is-active .nav__list .nav__item:nth-of-type(6) a {
    transition-delay: 0.5s;
  }
  .nav__content.is-active .nav__list .nav__item:nth-of-type(7) a {
    transition-delay: 0.6s;
  }
  .nav__content.is-active .nav__list .nav__item:nth-of-type(8) a {
    transition-delay: 0.7s;
  }
  .nav__content.is-active .nav__list .nav__item:nth-of-type(9) a {
    transition-delay: 0.8s;
  }
  .nav__content.is-active .nav__social .nav__item:nth-of-type(1) a {
    transition-delay: 0.5s;
  }
  .nav__content.is-active .nav__social .nav__item:nth-of-type(2) a {
    transition-delay: 0.55s;
  }
  .nav__content.is-active .nav__social .nav__item:nth-of-type(3) a {
    transition-delay: 0.6s;
  }
  .nav__content.is-active .nav__social .nav__item:nth-of-type(4) a {
    transition-delay: 0.65s;
  }
  .nav__content.is-active .nav__social .nav__item:nth-of-type(5) a {
    transition-delay: 0.7s;
  }
  .nav__content.is-active .nav__social .nav__item:nth-of-type(6) a {
    transition-delay: 0.75s;
  }
  .nav__content.is-active .nav__social .nav__item:nth-of-type(7) a {
    transition-delay: 0.8s;
  }
  .nav__content.is-active .nav__social .nav__item:nth-of-type(8) a {
    transition-delay: 0.85s;
  }
  .nav__content.is-active .nav__social .nav__item:nth-of-type(9) a {
    transition-delay: 0.9s;
  }
  
  .nav__list{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .nav__list a{
    display: inline-block;
    opacity: 0;
    transition: 0.25s ease-in-out 0s;
    will-change: transform, opacity;
  }
  
  .nav__list a {
    font-size: 2rem;
    line-height: 1.5;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  .nav__list a {
    font-size: 6vmin;
    text-transform: uppercase;
  }
  
  
  @media(max-width:960px){
    .nav__trigger{right: 20px; top: 2rem;}
    .nav__trigger .bars, .nav__trigger .bars:before, .nav__trigger .bars:after{height: 3px;}
    .nav__trigger .bars:before{transform: translateY(-6px);}
    .nav__trigger .bars:after{transform: translateY(6px);}

    .nav{background:  #172fe7;}
    .nav__list a:hover{
      color:#fff;
    }
  }
  @media(max-width:768px){
    .nav {width: 100%;}
  }