@charset "utf-8";

/*layout*/
#wrap{width: 100%;;}
#nav{position: fixed; left: 0; top: 0; width: 60px; height: 100%; background:#343434; z-index: 10;}
#main{ height: 937px;overflow: hidden;}
#about{background:#2041f8; height: 937px;position: relative;}
#portfolio{}
#footer{border-top:1px solid #dddfe2; background:#fff;}

.container{width: 1280px; margin: 0 auto;}

/*nav*/
.nav{}
.nav ul{position: absolute; left: 0; top: 50%; transform: translateY(-50%);}
.nav li{padding-bottom: 20px;}
.nav a{text-transform: uppercase; color:#aaa; font-size: 20px;padding-left: 20px; position: relative;}
.nav a span{display: none; position: absolute; transform: rotate(0deg); top: 0;;}
.nav a span:nth-child(1){left:40px; animation: navani 0.2s; }
.nav a span:nth-child(2){left:60px; animation: navani 0.3s}
.nav a span:nth-child(3){left:80px; animation: navani 0.4s}
.nav a span:nth-child(4){left:100px; animation: navani 0.5s}
.nav a span:nth-child(5){left:120px; animation: navani 0.6s}
.nav a span:nth-child(6){left:140px; animation: navani 0.7s}
.nav a span:nth-child(7){left:160px; animation: navani 0.8s}
.nav a span:nth-child(8){left:175px; animation: navani 0.9s}
.nav a:hover span:nth-child(1){display: block;}
.nav a:hover span:nth-child(2){display: block;}
.nav a:hover span:nth-child(3){display: block;}
.nav a:hover span:nth-child(4){display: block;}
.nav a:hover span:nth-child(5){display: block;}
.nav a:hover span:nth-child(6){display: block;}
.nav a:hover span:nth-child(7){display: block;}
.nav a:hover span:nth-child(8){display: block;}
.nav a:hover span:nth-child(9){display: block;}

@keyframes navani{
    0%{left: 20px; top: 20px; transform: rotate(90deg); opacity: 0;}
    20%{opacity: 0;}
    50%{display: none; left: 30px; top: 10px; rotate: (45deg);}
    100%{display: block; top: 0; transform: rotate(0deg);}
}

/*main*/
.m_left{width: 50%;height: inherit; float: left; background:#2041f8; position: relative;}
.m_left .ml_box{width: 480px; height: 475px; background:#fff; position: absolute; right: 0; top: 50%; transform: translateY(-50%);}
.m_left .ml_box h1{font-size: 30px; color:#0000ff; font-weight: bold; padding:160px 0 39px 58px; text-transform: uppercase; letter-spacing: 1px;}
.m_left .ml_box p{color:#666; padding-left: 58px;}
.m_right{width: 50%;height: inherit; float: left; background:url(../img/coding.gif) no-repeat center; background-size:cover; position: relative;}
.m_right .mr_box{width: 480px; height: 475px; background:#000 url(../img/vscode.gif); background-size:cover; position: absolute; left: 0; top: 50%; transform: translateY(-50%);}

/*about*/
.about{padding-left: 385px; position: relative;}
.about h2{font-size: 30px; color:#fff; font-weight: 600; text-transform: uppercase; padding-top: 210px; }
.about p{padding-top: 40px; color:#fff;}
.about>ul{position: absolute;right: 400px; top: 800px; }
.about ul>li{display: inline;}
.about ul>li a{display: inline-block;color:#ccc; text-transform: uppercase; padding:0 30px; position: relative;}
.about ul>li.active a{color:#fff;}
.about ul>li a:before{content:""; width: 1px; height: 15px; background:#fff; position: absolute; right: 0; top: 3px;}
.about ul>li:last-child a:before{width: 0; height: 0;}
.about ul>li>ul{position: absolute; left: -737px; top: -280px; width: 735px; height: 300px; background:#fff; z-index: 2; padding: 40px 50px; box-sizing: border-box;}
.about ul>li>ul>li{ width: 33.333%; float: left; text-align: center; padding-top: 50px;}
.about ul>li>ul>li.tit{font-size: 25px; color:#0045b6; text-transform: uppercase; letter-spacing: 2px;display: block; width: 100%; text-align-last: left; padding-top: 0; }
.about ul>li>ul>li i{display: block; font-size: 40px; padding-bottom:30px; transition: all 0.5s;}
.about ul>li>ul>li i:hover{color:#1363ce;}
.about em{width: 850px; height: 650px; background:url(../img/profile.jpg) center; background-size:cover; position: absolute; right: 0; top: 120px;}

/*portfolio*/
.portfolio{width: 100%; height: 937px; position: relative; overflow: hidden;}
.portfolio h3{font-size: 35px; font-weight: bold; text-transform: uppercase; position: absolute; left: 185px; top: 50%; transform: translateY(-50%);}
.portfolio a{width: 800px; display: block; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); z-index: 2;}
.portfolio ul{position: absolute; right: 140px; top: 50%; transform: translateY(-50%); width: 410px;}
.portfolio li{font-size: 20px; padding-top: 25px;color:#fff; font-size: 15px; padding-left: 110px; position: relative;}
.portfolio li.pf_tit{background:#272727; padding: 30px 85px; text-transform: uppercase; border-radius: 0 45px 45px 0; margin-left: -5px; letter-spacing: 5px;}
.portfolio li:before{content:""; width:3px; height: 3px; border-radius: 50%; background:#fff; position: absolute; left: 90px; top: 35px;}
.portfolio li.pf_tit:before{width: 0; height: 0;}
.portfolio p{color:#999; font-size: 32px; position: absolute; left: 220px; bottom: 155px; border-bottom: 1px solid #999; width: 550px; padding-bottom: 10px;}
.portfolio p em{font-size: 20px; text-transform: uppercase; padding-left: 30px; letter-spacing: 1px;}
.cont1{background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(32,65,248,1) 50%, rgba(32,65,248,1) 100%);}
.cont2{background: linear-gradient(to right, rgba(32,65,248,1) 0%, rgba(32,65,248,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);}
.cont3{background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(32,65,248,1) 50%, rgba(32,65,248,1) 100%);}
.cont4{background: linear-gradient(to right, rgba(32,65,248,1) 0%, rgba(32,65,248,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);}
.cont5{background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(32,65,248,1) 50%, rgba(32,65,248,1) 100%);}
.cont6{background: linear-gradient(to right, rgba(32,65,248,1) 0%, rgba(32,65,248,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);}
.cont6 a{width: 400px;}
.cont6 ul{right: 350px;}
.cont2 h3,.cont4 h3,.cont6 h3{color:#fff;}
.cont2 li,.cont4 li,.cont6 li{color:#333;}
.cont2 li.pf_tit,.cont4 li.pf_tit,.cont6 li.pf_tit{color:#fff;}
.cont2 li:before,.cont4 li:before,.cont6 li:before{background:#333;}

/*footer*/
.footer{overflow: hidden; padding-left: 435px; position: relative;padding-top: 50px;}
.footer div.footer_box{background:#000; width: 70px; height: 70px; text-align: center; line-height: 70px; position: absolute; left: 100px; top: 100px; color:#fff; border-radius: 10px;}
.footer div.footer_list{width: 320px; float: left; padding-bottom: 50px;}
.footer p{font-size: 20px; font-weight: bold; text-transform: uppercase; padding-bottom: 10px;}
.footer span{}